.#*
.DS_Store
**/.DS_Store
.psc-ide-port
.purs-repl
.spago
.parcel-cache
node_modules
/dist
/web/app.js
/output
index.js
hydra.bundle.*.js
static
src_
to-production.sh
commands_dump.txt
blessed_op_log.txt
hydra.toolkit.tpurs
hydra.v2.toolkit.tpurs
/src/Toolkit/HydraGen
src/Noodle/Text/SketchParser.pgpurs
*.gen.purs
test/Files/Output
test.to.revive/Files/Output
/result
/output.backup
/output.txt
/output.vscode
/output.legacy
/output.nix
blessed.log.txt
commands.log.txt
node_modules.*
node-modules.*
/tests.mute
src/Demo/_Gen
spago.before.dhall
main.min.js
/output-es
