.#*
.DS_Store
**/.DS_Store
package-lock.json
.psc-ide-port
.purs-repl
.spago
.parcel-cache
node_modules
/dist
/output
index.js
hydra.bundle.*.js
static
src_
to-production.sh
commands_dump.txt
blessed_op_log.txt
hydra.toolkit.tpurs
hydra.v2.toolkit.tpurs
/src/Toolkit/HydraGen
src/Noodle/Text/SketchParser.pgpurs
*.gen.purs
test/Files/Output
test.to.revive/Files/Output
output.backup
output.txt