Network network:
2 Patches
·Patch foo0 <P@foo0>:
 3 Nodes
 ·Node bar00 <P@foo0/N@bar00>:
  No Inlets
  No Outlets
 ·Node bar01 <P@foo0/N@bar01>:
  No Inlets
  No Outlets
 ·Node bar02 <P@foo0/N@bar02>:
  No Inlets
  No Outlets
 No Links
·Patch foo1 <P@foo1>:
 2 Nodes
 ·Node bar10 <P@foo1/N@bar10>:
  No Inlets
  No Outlets
 ·Node bar11 <P@foo1/N@bar11>:
  No Inlets
  No Outlets
 No Links
