Network foo:
One Patch
 Patch foo <P@foo>:
 2 Nodes
  Node src <P@foo/N@src>:
  No Inlets
  One Outlet
   Outlet srco <P@foo/N@src/@Osrco>
  Node dst <P@foo/N@dst>:
  One Inlet
   Inlet dsti <P@foo/N@dst/@Idsti>
  No Outlets
 One Link
  Link from <P@foo/N@src/@Osrco> to <P@foo/N@dst/@Idsti>
