/* @import url('https://fonts.googleapis.com/css2?family=family=Space+Grotesk:wght@400;500&display=swap'); */

.node-title text {
    alignment-baseline: middle;
    dominant-baseline: middle;
    text-transform: uppercase;
}


.node-vert .dir-outside .inlet text {
    text-anchor: end;
}

.node-vert .dir-inside .inlet text {
    text-anchor: start;
}

.node-vert .dir-between .inlet text {
    text-anchor: start;
}

.node-vert .dir-outside .outlet text {
    text-anchor: start;
}

.node-vert .dir-inside .outlet text {
    text-anchor: end;
}

.node-vert .dir-between .outlet text {
    text-anchor: end;
}

.node-vert .inlet text,
.node-vert .outlet text {
    alignment-baseline: middle;
    dominant-baseline: middle;
}