body {
    padding: 0;
    margin: 0;
}

#noodle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.no-select {
    /*cursor: default;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

text {
    font-family: Avenir, sans-serif;
    font-size: 9px;
    alignment-baseline: hanging;
    dominant-baseline: hanging;
}

.node-title text {
    alignment-baseline: middle;
    dominant-baseline: middle;
}

.node-vert .inlet text {
    text-anchor: end;
}

.node-vert .inlet text,
.node-vert .outlet text {
    alignment-baseline: middle;
    dominant-baseline: middle;
}

.slot-focus {
    cursor: pointer;
}

.node-title-focus {
    cursor: pointer;
}

.patch-tab {
    cursor: pointer;
}

.node-button {
    cursor: pointer;
}


.patch-tab text {
    font-weight: bold;
    /* color: white; */
}

input[type="number"] {
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.3);
    margin: 3px 5px;
    color: white;
    width: 40px;
    height: 9px;
    font-size: 9px;
}