body {
    padding: 0;
    margin: 0;
}

text {
    font-family: Avenir, sans-serif;
    font-size: 9px;
    alignment-baseline: hanging;
}

.patch-tab {
    cursor: pointer;
}


.patch-tab text {
    font-weight: bold;
    /* color: white; */
}