.xodus-connect-button {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

table.xodus-table {
    /* border-collapse: collapse; */
    position: relative;
    font-size: 11px;
    border-radius: 5px;
    border: 1px solid #000;
    border-spacing: 0;
    font-family: sans-serif;
    color: #ddd;
    margin: 5px;
    margin-left: 18px;
}

table.xodus-table.xodus-wide-ticker {
    margin-left: 26px;
}

table.xodus-table thead,
table.xodus-table tbody,
table.xodus-table tfoot {
    position: relative;
}

table.xodus-table tr {
    border-collapse: collapse;
}

table.xodus-table thead th {
    background-color: #eee;
    color: #000;
    border-bottom: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

table.xodus-table td {
    border: 1px solid #ddd;
}

table.xodus-table th,
table.xodus-table td {
    padding: 3px 4px;
}

table.xodus-table tfoot {
    background-color: chocolate;
    border-width: 0;
}

table.xodus-table tfoot th {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-collapse: collapse;
    color: black;
    font-weight: normal;
    text-align: center;
}

.xodus-clickable {
    cursor: pointer;
}

.xodus-clickable:hover {
    opacity: 0.7;
}

table.xodus-table tr {
    position: relative;
}

table.xodus-table thead th.xodus-ticker,
table.xodus-table tfoot th.xodus-ticker {
    visibility: hidden;
}

table.xodus-table thead th.xodus-first {
    border-top-left-radius: 3px;
}

table.xodus-table thead th.xodus-last {
    border-top-right-radius: 3px;
}

table.xodus-table tbody tr.xodus-last td.xodus-first {
    border-bottom-left-radius: 3px;
}

table.xodus-table tbody tr.xodus-last td.xodus-last {
    border-bottom-right-radius: 3px;
}

table.xodus-table tfoot tr.xodus-last th.xodus-first {
    border-bottom-left-radius: 3px;
}

table.xodus-table tfoot tr.xodus-last th.xodus-last {
    border-bottom-right-radius: 3px;
}

table.xodus-table tbody tr td.xodus-ticker {
    position: absolute;
    left: -12px;
    margin-top: 4px;
    text-align: right;
    width: 8px;
    font-size: 9px;
    border: 1px solid chocolate;
    padding: 1px 1px 0 1px;
    border-radius: 3px;
    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: chocolate;
}

table.xodus-table.xodus-wide-ticker tbody tr td.xodus-ticker {
    left: -20px;
    width: 16px;
}

table.xodus-table .xodus-ticker {
    /* display: float; */
    position: absolute;
    /* top: 0; */
    left: 0;
}

table.xodus-table tfoot tr th {
    display: float;
    position: relative;
    margin-top: -10px;
}
