.xodus-connect-button {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.xodus-database {
    cursor: pointer;
}

.xodus-list-item {
    padding: 3px;
    display: inline-block;
}
