.xodus-connect-button {
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

.xodus-database {
    cursor: pointer;
}

.xodus-list-item {
    padding: 3px;
    display: inline-block;
}

table.xodus-table {
    /* border-collapse: collapse; */
    font-size: 11px;
    border-radius: 5px;
    border: 1px solid #000;
    border-spacing: 0;
    font-family: sans-serif;
    color: #ddd;
    margin: 5px;
}

table.xodus-table tr {
    border-collapse: collapse;
}

table.xodus-table thead th {
    background-color: #eee;
    color: #000;
    border-bottom: none !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

table.xodus-table td {
    border: 1px solid #ddd;
}

table.xodus-table th,
table.xodus-table td {
    padding: 3px 4px;
}

table.xodus-table tr:first-child td:first-child,
table.xodus-table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table.xodus-table tr:first-child td:last-child,
table.xodus-table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

table.xodus-table tr:last-child td:first-child,
table.xodus-table tr:last-child th:first-child {
    border-bottom-left-radius: 5px;
}

table.xodus-table tr:last-child td:last-child,
table.xodus-table tr:last-child th:last-child {
    border-bottom-right-radius: 5px;
}

table.xodus-table tfoot {
    background-color: chocolate;
    border-width: 0;
}

table.xodus-table tfoot th {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-collapse: collapse;
    color: black;
    font-weight: normal;
    text-align: center;
}

.xodus-clickable {
    cursor: pointer;
}

.xodus-clickable:hover {
    opacity: 0.7;
}
