
body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.debug {
    width: 15%;
}

.network {
    font-family: monospace;
}

.patches, .nodes {
    display: flex;
    align-items: flex-start;
}

.patch, .node {
    margin-right: 40px;
    display: inline-block;
}

.patch > *:first-child {
    cursor: pointer;
}

.patch._selected > *:first-child {
    color: red;
}

/* .node {
    max-width: 300px;
} */

.node > *:first-child {
    cursor: pointer;
}

.node._selected > *:first-child {
    color: red;
}

.inlet {
    overflow: hidden;
}

.inlet > * > *:nth-child(2) {
    cursor: pointer;
}

.inlet._selected > * > *:nth-child(2) {
    color: red;
}

.inlet._waiting .connector {
    color: blue;
    cursor: cell;
}

.outlet .connector {
    cursor: pointer;
}

.outlet._waiting .connector {
    color: red;
}

.outlet._connecting .connector {
    color: blue;
    cursor: cell;
}

.outlet > * > *:nth-child(2) {
    cursor: pointer;
}

.outlet._selected > * > *:nth-child(2) {
    color: red;
}

.connector {
    margin-left: 5px;
    margin-right: 5px;
}

.inlets {
    margin-bottom: 5px;
}
