
body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.debug {
    width: 15%;
}

.network {
    font-family: monospace;
}

.patches, .nodes {
    display: flex;
    align-items: flex-start;
}

.patch, .node {
    margin-right: 40px;
    display: inline-block;
}

.patch > .handle {
    cursor: pointer;
}

.patch._selected > .handle {
    color: red;
}

.node {
    border: 1px double black;
}

.node > .handle {
    cursor: pointer;
    text-align: center;
    vertical-align: baseline;
    line-height: 20px;
}

.node._selected > .handle {
    color: red;
}

.node > .body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.node > .body > .inlets {
    margin-right: 10px;
    margin-bottom: 10px;
    display: grid;
}

.node >  .body > .outlets {
    margin-left: 10px;
    margin-bottom: 10px;
    display: grid;
}

.inlet {
    overflow: hidden;
    display: grid;
    grid-template-columns: 28px auto 110px;
}

.inlet > .connector,
.inlet > .handle {
    cursor: pointer;
}

.inlet._selected > .connector,
.inlet._selected > .handle {
    color: red;
}

.inlet._waiting .connector {
    color: blue;
    cursor: cell;
}

.outlet {
    display: grid;
    grid-template-columns: 110px auto 28px;
}

.outlet > .connector,
.outlet > .handle {
    cursor: pointer;
}

.outlet._selected > .connector,
.outlet._selected > .handle {
    color: red;
}

.outlet._waiting .connector {
    color: red;
}

.outlet._connecting .connector {
    color: blue;
    cursor: cell;
}

.inlet .connector,
.outlet .connector {
    min-width: 20px;
}

.inlet .value,
.outlet .value {
    max-width: 100px;
}

#error {
    border: 2px solid red;
    padding: 5px;
}
