
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #22222a;
}

#html {
    width: 100%;
    height: 100%;
}

.rpd-network {
    font-family: 'PT Mono', 'Andale Mono', 'Fira mono', 'Menlo', monospace;
    font-size: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rpd-network-name {
    color: #eee;
}

.rpd-patch {
    background-color: #22222a;
}

.rpd-patch-name {
    color: #eee;
    border: 1px dashed rgba(250,250,250,0.4);
    display: inline-block;
    padding: 2px;
    margin: 20px 3px 30px 1.1em;
}

.rpd-nodes {
    /* display: flex;
    flex-wrap: wrap; */
}

.rpd-node {
    position: absolute;
    display: grid;
    grid-template-columns: 1.1em 1fr 0px;
    grid-template-rows: 30px 1fr 30px;
    grid-template-areas:
        ". rpd-node-inlets ."
        "rpd-node-title rpd-node-body rpd-node-remove-button"
        ". rpd-node-outlets .";
    max-width: 300px;
    max-height: 250px;
}

.rpd-dragged-nodes .rpd-node,
.rpd-pinned-nodes .rpd-node {
    position: absolute;
}

.rpd-node-remove-button {
    position: absolute;
    top: 0;
    right: 0;
}

.rpd-node-title {
    grid-area: rpd-node-title;
    transform: rotate(-180deg);
    display: block;
    bottom: 0;
    height: 100%;
    writing-mode: vertical-lr;
    font-size: 0.8em;
    background-color: rgba(33,33,99,0.5);
    color: #eee;
    /* box-shadow: 3px 3px 14px 1px rgba(33,33,33,0.7); */
    border: 1px solid rgba(250,250,250,0.4);
    border-right-width: 0;
    padding: 0;
    /* max-width: 1.1em;
    width: 1.1em; */
    width: 100%;
    right: 0;
    /* vertical-align: bottom; */
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
    cursor: pointer;
}

.rpd-node-title span {
    position: relative;
    top: 2px;
    left: 1px;
}

.rpd-node-body {
    min-height: 100px;
    grid-area: rpd-node-body;
    /* max-width: 250px; */
    min-width: 130px;
    background-color: #617b79;
    color: #eee;
    box-shadow: 3px 3px 14px 1px rgba(33,33,33,0.7);
    border: 1px solid rgba(250,250,250,0.4);
    border-left: 1.1em solid #22222a;
    position: relative;
    left: -1.1em;
    z-index: 0;
    height: 100%;
}

.rpd-node-inlets {
    grid-area: rpd-node-inlets;
    display: flex;
    justify-content: space-between;
}

.rpd-inlet, .rpd-outlet {
    min-width: 50px;
    color: #eee;
}

.rpd-inlet {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    font-size: 0.8em;
    z-index: 3;
}

/* .rpd-inlet-name, .rpd-inlet-value,
.rpd-outlet-name, .rpd-outlet-value {
    height: 0.6em;
} */

.rpd-outlet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8em;
    z-index: 3;
}

.rpd-inlet-connector,
.rpd-outlet-connector {
    width: 2px;
    height: 2px;
    cursor: pointer;
    border-width: 2px;
    border-color: #000;
    background-color: #fff;
    border-style: solid;
    color: transparent;
}

.rpd-inlet-connector {
    transform: translate(0, 2px);
}

.rpd-outlet-connector {
    transform: translate(0, -1px);
}

.rpd-inlet-name, .rpd-outlet-name {
    color: rgba(132,200,200,0.7);
}

.rpd-inlet-value, .rpd-outlet-value {
    color: rgba(200,200,200,0.7);
}

.rpd-node-outlets {
    grid-area: rpd-node-outlets;
    display: flex;
    justify-content: space-between;
}

.rpd-node-remove-button {
    grid-area: rpd-node-remove-button;
}

.rpd-links {
    position: absolute;
    top: 0;
    left: 0;
}

.rpd-link {
    position: absolute;
    transform-origin: 0 0;
    background-color: red;  /* TODO: remove */
}

.rpd-link.rpd-dragging {
    background-color: aqua;  /* TODO: remove */
}

.rpd-mouse-pos, .rpd-drag-state { /* TODO: remove */
    position: fixed;
    top: 0;
    background-color: lightblue;
}

.rpd-mouse-pos { /* TODO: remove */
    left: 50px;
}

.rpd-drag-state { /* TODO: remove */
    left: 250px;
}

#error {
    border: 2px solid red;
    padding: 5px;
}
