
body {
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.debug {
    width: 15%;
}

.rpd-network {
    font-family: monospace;
}

.rpd-node {
    position: relative;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "rpd-node-title rpd-node-inlets" "rpd-node-title rpd-node-body" "rpd-node-title rpd-node-outlets";
}

.rpd-node-remove-button {
    position: absolute;
    top: 0;
    right: 0;
}

.rpd-node-title { grid-area: rpd-node-title; }

.rpd-node-body {
    min-height: 100px;
    grid-area: rpd-node-body;
}

.rpd-node-inlets {
    grid-area: rpd-node-inlets;
    display: flex;
    justify-content: space-between;
}

.rpd-inlet, .rpd-outlet {
    min-width: 200px;
}

.rpd-inlet {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.rpd-outlet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rpd-inlet-name, .rpd-outlet-name {
    min-height: 50px;
}

.rpd-node-outlets {
    grid-area: rpd-node-outlets;
    display: flex;
    justify-content: space-between;
}

#error {
    border: 2px solid red;
    padding: 5px;
}
